fastapi==0.115.6
uvicorn[standard]==0.34.0
asyncpg==0.30.0
sqlalchemy[asyncio]==2.0.36
pandas==2.2.3
numpy==2.2.1
pydantic==2.10.4
pydantic-settings==2.7.1
prometheus-fastapi-instrumentator==7.0.2
prometheus-client==0.21.1
